// Imports.
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&subset=greek');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css');

// Colors.
$blue: #18a2de;
$title_color: white;
$text_color: #555;
$grey: #ccc;
$green: #61a643;
$section_intro_color: $text_color;
$link_color: $blue;
$navigation_bg: rgba(8, 14, 25, 0.5);
$about_bg: #eee;
$youtube_bg: rgba(8, 14, 25, 0.5);
$video_bg: #484848;
$hire_bg: #eee;

// Sizes.
$logo_wrapper_height: 400px;
$logo_size: 100px;
$h1_font_size: 3.5em;
$h3_font_size: 2.5em;
$section_intro_font_size: 1.65em;
$slogan_font_size: 1.25em;
$menu_height: 3em;
$about_max_width: 1000px;
$site_generic_margin: 0.5em;
$section_bottom_padding: 2.5em;
$form_width: 500px;
$form_item_width: 2em;
$form_button_width: 2em;
$form_message_font_size: 1.5em;
$social_line_height: 3em;
$social_link_size: 3em;