@import "variables";
@import "mixins";

/**
 * Elements.
 */

body,
html {
  @include no-space;
  font-family: 'Open Sans', 'Verdana', 'Trebuchet MS', sans-serif;
  font-weight: 300;
  color: $text_color;
}

h1,
h2,
h3,
h4,
h5 {
  @include no-space;
  font-weight: 300;
}

h1 {
  font-size: $h1_font_size;
}

h3 {
  font-size: $h3_font_size;
  text-align: center;
  padding: $site_generic_margin 0 0 0;
}

.section-intro {
  font-style: italic;
  font-size: $section_intro_font_size;
  text-align: center;
  margin: 0 0 0.5em 0;
  color: $section_intro_color;
}

a {
  color: $link_color;
  text-decoration: none;
  @include generic-transition(color);
  text-shadow: none;
  &:hover {
    color: darken($link_color, 15%)
  }
}

input[type="email"], input[type="text"], textarea {
  width: 100%;
  display: block;
  margin: 0 0 $site_generic_margin 0;
  @include text;
  &:focus {
    outline: none;
  }
}
input[type="email"], input[type="text"] {
  height: 32px;
  line-height: 32px;
}
input[type="submit"] {
  margin: 0 0 $site_generic_margin 0;
  @include button;
}

.video-background-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
  .video-background {
    position: absolute;
    top: 50%; 
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    min-width: 100%; 
    min-height: 100%; 
    width: auto; 
    height: auto;
    z-index: -1000; 
    overflow: hidden;
  }
}

.home {
  .logo-wrapper {
    text-align: center;
    padding: 10em 0;
    h1,
    p {
      color: $title_color;
      @include text-shadow-mixin;
    }
    p {
      font-size: $slogan_font_size;
      margin: 0;
    }
    .logo {
      background-image: url('../../images/logo.png');
      background-size: cover;
      background-repeat: no-repeat;
      width: $logo_size;
      height: $logo_size;
      margin: 0 auto;
    }
  }
}

.navigation {
  background-color: $grey;
  ul {
    list-style: none;
    @include no-space;
    text-align: center;
    li {
      display: inline-block;
      a {
        font-size: 1.25em;
        line-height: 2em;
        padding: 0 5px;
        color: white;
        &:hover {
          color: black;
        }
      }
    }
  }
}

.about {
  position: relative;
  background-color: white;
  background-image: url('../../images/about-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  .about-wrapper {
    position: relative;
    text-align: center;
    padding-bottom: $section_bottom_padding;
    position: relative;
    div {
      display: inline-block;
      max-width: 20em;
      position: relative;
      border-radius: 50%;
      margin: 0 $site_generic_margin/2;
      img {
        max-width: 100%;
        border-radius: 50%;
        z-index: 2;
        position: relative;
        @include generic-transition(all);
        &:hover {
          opacity: 0;
          filter: alpha(opacity=0);
        }
      }
      span {
        position: absolute;
        padding-top: 40%;
        max-width: 100%;
        border-radius: 50%;
        z-index: 1;
        background-color: white;
        width: 15em;
        top: 0;
        left: 0;
        bottom: 5px; // This is really stupid. Somewhere, I am missing 5px.
        font-size: 2em;
      }
    }
  }
}

.youtube {
  h3, p {
    color: white;
    @include text-shadow-mixin;
  }
  .youtube-wrapper {
    text-align: center;
    padding-bottom: $h3_font_size;
    div {
      display: inline-block;
      max-width: 20em;
      position: relative;
      margin: $site_generic_margin/2;
      @include text-shadow-mixin;
      a {
        color: white;
        display: inline-block;
        img {
          max-width: 100%;
          @include generic-transition(all);
          -webkit-filter: grayscale(50%);
          filter: grayscale(50%);
          &:hover {
            -webkit-filter: grayscale(0%);
            filter: grayscale(0%);
          }
        }
        &.text-link {
          padding: $site_generic_margin;
        }
      }
    }
  }
}

.hire {
  background-image: url('../../images/hire-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  .form-wrapper {
    @include box-shadow-mixin;
    padding: $site_generic_margin;
    display: inline-block;
    margin: 0 $site_generic_margin $site_generic_margin;
    background-color: white;
    min-width: $form_width;
    @media screen and (max-width: 550px) {
      min-width: 90%;
    }
    form {
      margin: 0 auto;
      max-width: $form_width;
      text-align: right;
      padding: 0 0 $site_generic_margin 0;
    }
  }
  #message {
    display: none;
    margin: $site_generic_margin auto;
    font-size: $form_message_font_size;
    border: 1px solid $green;
    max-width: 20em;
    @include generic-transition(all);
    span {
      display: inline-block;
      padding: $site_generic_margin;
    }
    &.show {
      display: block;
    }
  }
}

.social-icons {
  background-color: $blue;
  text-align: center;
  a {
    color: white;
    line-height: 1.3em;
    font-size: $social_link_size;
    padding: 0 0.2em;
    &:hover {
      color: $grey;
    }
  }
}

.created {
  text-align: center;
  color: $text_color;
  font-size: $created_font_size;
  line-height: 2em;
  a { 
    color: $text_color;
    &:hover {
      color: white;
    }
  }
}